<h2>Top agents - houses, Amsterdam, all</h2>
<table class="table">
{{#all}}
<tr><td>{{MakelaarNaam}}</td><td>{{cnt}}</td></tr>
{{/all}}
</table>

<h2>Top agents - houses, Amsterdam, with garden</h2>
<table class="table">
{{#garden}}
<tr><td>{{MakelaarNaam}}</td><td>{{cnt}}</td></tr>
{{/garden}}
</table>
